<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{post.title}} - Blog </title>
    <script src="https://kit.fontawesome.com/a26bf7fb44.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <a href="/blog/"> Blog </a>
        {% if user.is_authenticated %}
        <a class="btn btn-info float-right" href="/blog/update_post/{{post.pk}}" role="button">
            <i class="fas fa-pen"> Edit Post </i>
        </a>
         {% endif %}
    </nav>

    <h1>{{post.title}} </h1>
    <h4>{{post.created_at}}</h4>

    <figure class = "mb-4">
        {% if post.head_image %}
        <img class="img-fluid rounded" src="{{post.head_image.url}}" alt="{{post.title}}의 head_image" />
        {% else %}
        <img class="img-fluid rounded" src="https://picsum.photos/seed/{{post.pk}}/800/200" alt="random image" />
        {% endif %}
    </figure>
    
    <p>{{post.content}}</p>

    {% if post.file_upload %}
    <a href = "{{post.file_upload.url}}"  class='btn' role = "button" download>

        {% if post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
        <i class="fa-regular fa-file-excel fa-bounce"></i>
        {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
        <i class="fa-regular fa-file-word fa-bounce"></i>
        {% elif post.get_file_ext == 'csv' %}
        <i class="fa-regular fa-file-csv fa-bounce"></i>
        {% else %}
       <i class="fa-solid fa-file fa-bounce"></i>
        {% endif %}
        Download: {{post.get_file_name}}
    </a>
    {% endif %}

</body>
</html>