#successContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    color: black;
    background-color: white;
    opacity: 0.8;
}

.success-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    opacity: 1;
    animation: 1s ease-out 0s 1 slideInFromBottom;
}

@keyframes slideInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(0.5rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.success-image {
    display: block;
    width: 12rem;
    height: 12rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
    object-fit: cover;
    opacity: 1;
}

.success-title {
    font-size: 3rem;
    font-weight: bold;
    color: #19bec9;
    margin-bottom: 2rem;
}

.success__summary-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.success__summary-item {
    color: #19bec9;
    font-size: 2rem;
    font-size: bold;
    margin-bottom: 1rem;
}

.success-description {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
